@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-placeholder::placeholder {
    color: #d596ec;
    font-size: 25px;
    font-weight: 400;
    opacity: 50%;
}

.custom-placeholder1::placeholder {
    color: #d596ec;
    font-size: 21px; 
    font-weight: 500;
}